<nav class="navbar">

  <div class="navbar-container">
    <a href="/" class="navbar-logo">WildPing</a>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a href="/dashboard" class="navbar-link">Dashboard</a>
      </li>
      <li class="navbar-item">
        <a href="/devices" class="navbar-link">Devices</a>
      </li>

      <li class="navbar-item">
        <a href="/alerts" class="navbar-link">Alerts</a>
      </li>

      <li class="navbar-item">
        <a href="/settings" class="navbar-link">Settings</a>
      </li>
    </ul>
  </div>

</nav>